spring-boot/lesson-14/spring-boot-lesson-14/src/main/resources/META-INF/schemas/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://segmentfault.com/schemas" xmlns="http://segmentfault.com/schemas">

    <!--用户对象：ID，名字和年龄 -->

    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="age" type="xs:int" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="UserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long" />
                <xs:element name="timestamp" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="User" />
                <xs:element name="timestamp" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>